.form-group {
    width: 50% !important;
 }
 .font-class{
     font-size: 5rem;
     margin: 3rem auto;
     display: block;
 }

@media screen and (max-width:960px) {
    .form-group {
       width: 90% !important;
    }
}

